<h1>Hi <%= params[:user].email %> </h1>

Someone requested a reset of your password. Please
If this was you, clickon the link below to reset your password. The link will expire in 15 minutes.

<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>
